@charset "UTF-8";

.signin-content {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 470px;
	height: 400px;
}

.signin-logo {
	text-align: center;
}

.signin-text {
	text-align: center;
	margin: 20px 0px;
	font-size: 1.4em;
}

.signin-form-wrapper {
	background: rgb(245, 245, 245);
	padding: 30px;
	border: 1px solid #cbcbcb;
	border-radius: 8px;
}

.signin-form-wrapper label {
	margin-left: 38px;
}

.signin-form-wrapper .find-pw {
	float: right;
	margin-right: 40px;
	font-size: 0.9em;
}

.input-signin {
	margin: 10px 10px 10px 37px;
	width: 80%;
	height: 33px;
	border-radius: 10px;
	border: 1px solid #838383;
}

.btn-signin {
	margin: 10px 10px 0px 37px;
	width: 80%;
	height: 45px;
	border-radius: 10px;
	border: 1px solid #0c974b;
	color: white;
	background: #2c974b;
	font-size: 1.04em;
	cursor: pointer;
}

.invalid-input {
	border: 1px solid red;
}

.invalid-msg {
	margin-left: 39px;
    color: #cb0000;
    font-size: 0.9em;
    margin-bottom: 20px;
}